@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --background-ultra: #fbfbfb;
    --foreground: 229 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 229 10% 3.9%;
    --secondary: 229 4.8% 85.1%;
    --secondary-foreground: 229 5.9% 10%;
    --border: 229 5.9% 90%;
    --input: 229 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --background-ultra: #050404;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --secondary: 229 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --border: 229 3.7% 15.9%;
    --input: 229 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}
@layer base {
  * {
    @apply border-border;
    font-optical-sizing: auto;
  }
  body {
    @apply bg-background text-foreground;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
.title {
  font-family: "Roboto Condensed", sans-serif !important;
}
p,
span,
input,
label,
.btn {
  font-family: "Source Sans 3", sans-serif !important;
}
.title {
  @apply text-5xl text-center font-extrabold my-3 md:my-6;
}
